<!DOCTYPE html>
<!-- Attach the gemStore module to our HTML page with a Directive. -->
<html ng-app="contactManager">

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body>
  <br><br><br>
  <div class="container">

    <div ng-controller="ContactController as contactCtrl">

      <div class="row">
          <div class="col-lg-4">

            <form name="contactForm" ng-submit="contactForm.$valid" novalidate>

              <fieldset>
                  <label>Name</label>
                  <input type="text" name="name" ng-model="newcontact.name" required />
                  <label>Email</label>
                  <input type="text" name="email" ng-model="newcontact.email" />
                  <label>Phone</label>
                  <input type="text" name="phone" ng-model="newcontact.phone" />
                  <br/>
                  <input type="hidden" ng-model="newcontact.id" />
              </fieldset>
              <div class="form-actions">
                <input type="button" value="Save" class="btn btn-success" ng-click="saveContact()" />
                <!-- <input type="submit" class="btn btn-primary pull-right" value="Submit Review" /> -->
              </div>
              {{ contactForm.$valid }}
            </form>

          </div>
          <div class="col-lg-8">

                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="contact in contacts">
                              <td>{{ contact.name }}</td>
                              <td>{{ contact.email }}</td>
                              <td>{{ contact.phone }}</td>
                              <td>
                                  <a href="#" class="btn btn-default" ng-click="edit(contact.id)">edit</a> |
                                  <a href="#" class="btn btn-default" ng-click="delete(contact.id)">delete</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>

          </div>
      </div>

    </div>

  </div>

	<!-- livereload -->
	<script>document.write('<script src="http://' + (location.host || 'localhost')
	.split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </body>
</html>
