<!doctype html>
<!--[if lte IE 7]> <html class="ie67 ie678" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie678" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="fr"> <!--<![endif]-->
    <head>

        <meta charset="UTF-8">
        <title>AngularJs</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

    </head>
    <body ng-app>

        <section id="tache">
            <label for="">Tâche :</label>
            <input type="text" ng-model="task">
            <h1>{{task}}</h1>
        </section>

        <section id="calcul">
            <label for="">nbr1 :</label>
            <input type="text" ng-model="nbr1">
            <label for="">nbr2 :</label>
            <input type="text" ng-model="nbr2">            
            <h1>{{"Somme : " + (nbr1 * 1 + nbr2 * 1)}}</h1>
        </section>

        <section ng-init="users=['Jean', 'Marc', 'John']">
            <h1>{{users}}</h1>
            <ul>
                <li ng-repeat="user in users">{{user | uppercase}}</li>
            </ul>
        </section>

        <section>
            <div ng-init="friends = [
                                        {name:'John', phone:'555-1276'},
                                        {name:'Mary', phone:'800-BIG-MARY'},
                                        {name:'Mike', phone:'555-4321'},
                                        {name:'Adam', phone:'555-5678'},
                                        {name:'Julie', phone:'555-8765'},
                                        {name:'Juliette', phone:'555-5678'}
                                    ]">
            </div>
             
            Search: <input ng-model="searchText">
            <table id="searchTextResults">
              <tr><th>Name</th><th>Phone</th></tr>
              <tr ng-repeat="friend in friends | filter:searchText">
                <td>{{friend.name}}</td>
                <td>{{friend.phone}}</td>
              </tr>
            </table>
        </section>

        <section ng-init="comments = [
                                        {nom:'John', content:'Lorem ipsum dolor sit'},
                                        {nom:'Mary', content:'Lorem ipsum dolor'},
                                        {nom:'Mike', content:'Lorem ipsum dolor sit amet, consectetur'},
                                        {nom:'Adam', content:'Lorem ipsum dolor'},
                                        {nom:'Julie', content:'Lorem ipsum'}
                                    ]">
            <h1>Commentaires</h1>
            <ul>
                <li ng-repeat="comment in comments | orderBy: '-nom'">{{comment}}</li>
            </ul>
        </section>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

    </body>
</html>
