<!DOCTYPE html>
<!-- Attach the gemStore module to our HTML page with a Directive. -->
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
   	<!-- create a simple Expression to display a friendly "Hello, Angular!" message. -->
    <h1>{{"Hello, Angular!"}}</h1>

	<!-- livereload -->
	<script>document.write('<script src="http://' + (location.host || 'localhost')
	.split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </body>
</html>
