<!doctype html>
<!--[if lte IE 7]> <html class="ie67 ie678" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie678" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="fr"> <!--<![endif]-->
    <head>

        <meta charset="UTF-8">
        <title>TodoMVC</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!-- Css -->
        <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="assets/base.css" rel="stylesheet" media="all">

    </head>
    <body ng-app>

        <section id="todoapp" ng-controller="TodoCtrl">

            <header id="header">
                <h1>TodoList</h1>
                <form action="#" id="todo-form" ng-submit="addTodo()">
                    <input type="text" id="new-todo" placeholder="{{placeholder}}" autofocus autocomplete="off" ng-model="newtodo">
                </form>
            </header>

            <section id="main">
                <input type="checkbox" id="toggle-all" ng-model="allchecked" ng-click="checkAllTodo(allchecked)">
                <ul id="todo-list">
                    <li ng-repeat="todo in todos | filter: statusFilter | orderBy:'completed'" ng-class="{completed : todo.completed, editing : todo.editing}" ng-dblClick="todo.editing = true">
                        <div class="view">
                            <input type="checkbox" class="toggle" ng-model="todo.completed">
                            <label for="">{{todo.name}}</label>
                            <button class="destroy" ng-click="removeTodo($index)"></button>
                        </div>
                        <form action="#">
                            <input type="text" class="edit" ng-model="todo.name">
                        </form>
                    </li>
<!--                     <li>
                        <div class="view">
                            <input type="checkbox" class="toggle">
                            <label for="">Apprendre Angular JS</label>
                            <button class="destroy"></button>
                        </div>
                    </li>
                    <li class="completed">
                        <div class="view">
                            <input type="checkbox" class="toggle">
                            <label for="">Installer TodoMvc</label>
                            <button class="destroy"></button>
                        </div>
                        <form action="#">
                            <input type="text" class="edit" value="Installer TodoMvc">
                        </form>
                    </li> -->
                </ul>
            </section>

            <footer id="footer">
                <span id="todo-count"><strong>{{remaining}} taches restantes</strong></span>
                <ul id="filters">
                    <li><a href="#/" ng-class="{selected: location.path() == '/' }">Toutes</a></li>
                    <li><a href="#/active" ng-class="{selected: location.path() == '/active' }">Actives</a></li>
                    <li><a href="#/done"ng-class="{selected: location.path() == '/done' }">Terminées</a></li>
                </ul>
            </footer>

        </section>

        <!-- Js -->
        <!-- <script src="http://code.jquery.com/jquery.js"></script> -->
        <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
        <!-- <script src="assets/base.js"></script> -->

        <!-- livereload : delete in production -->
        <script>document.write('<script src="http://' + (location.host || 'localhost')
        .split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

    </body>
</html>
